body {
  //background-color: rgb(211, 212, 214);
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-inline: 1rem;
  line-height: 1.5;
}

.noto {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playwrite {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.red {
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  ul {
    list-style: none;
  }
}

.logo {
  font-size: 5rem;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
}

h1 {
  font-weight: 200;
}

header {
  font-size: 1.25rem;
  max-width: 75ch;
}

p {
  max-width: 45ch;
  margin-bottom: 2rem;
}

button {
  border: 2px solid black;
  border-radius: 0;
  background-color: transparent;
  padding: .5rem 1rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 500ms;

  &:focus-visible,
  &:hover {
    border: 2px dashed black;
  }
}

.section {
  // margin-block: 1rem;
  
  & > div {
    margin-block: 2rem;
  }
}

.image-container {
  box-shadow: 4px 4px 4px rgb(131, 130, 130);
}

.icon {
  $spacer: .375rem;

  margin-right: $spacer;

  svg {
    width: $spacer * 6;
    height: $spacer * 6;
  }
}

.vocab-box {
  border: 1px solid black;
  padding: .5rem;

  h3 {
    font-size: 2rem;
  }

  h3,
  h4 {
    margin-block: 0;
  }

  div {
    border: 1px solid black;
    padding: 1rem;
  }
}

@media (min-width: 992px) {
  body {
    max-width: 1200px;
    margin-inline: auto;
  }

  .section {
    margin-block: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .icon {
    $spacer: .5rem;
  }
}