$blue: rgb(1, 33, 105);
$red: rgb(200, 16, 46);
$spacer: .75rem;

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding-inline: 1rem;
  line-height: 1.5;
  max-width: 1200px;
  margin-inline: auto;
}

img {
  max-width: 100%;
}

a {
  color: $blue;
}

p {
  max-width: 45ch;
}

button {
  color: $blue;
  border: 2px solid currentColor;
  border-radius: 0;
  background-color: transparent;
  padding: .5em 1.5em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 500ms;

  &:focus-visible,
  &:hover {
    border: 2px dashed currentColor;
  }
}

.noto {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.playwrite {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.red {
  color: $red;
  font-weight: 900;
}

.logo {
  font-size: 5 * $spacer;
  font-weight: 900;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playwrite PE", cursive;
  font-optical-sizing: auto;
  font-weight: 200;
}

h1 {
  font-weight: 200;
}

nav a,
button a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  //align-items: end;
  margin-bottom: $spacer * -2;

  ul {
    --size: 1rem;
    list-style: none;

    li {
      margin-bottom: calc(var(--size) * .25);
    }

    svg {
      width: var(--size);
      height: var(--size);
    }
  }
}

header {
  font-size: 1.25 * $spacer;
  margin-bottom: 3 * $spacer;
  max-width: 75ch;
  //border-bottom: 2px dashed $blue;

  p {
    max-width: 100%;
  }

  .piglet {
    display: flex;
    align-items: end;
    //justify-content: end;
    gap: .5rem;
    flex-wrap: wrap;
    margin-top: 1rem;
    color: $blue;
    //background-color: aquamarine;

    h2 {
      font-family: "Noto Sans", sans-serif;
      font-weight: 900;
      margin-block: 0;
    }

    .and {
      flex-grow: 1;
      border-bottom: 2px dashed $blue;
    }

    span {
      font-size: $spacer;
      font-family: "Playwrite PE", cursive;
      color: $blue;
    }

    svg {
      --size: 1.25rem;
      width: var(--size);
      height: var(--size);
      text-align: right;
      margin-bottom: -2px;
    }
  }

  .teaser {
    flex-basis: 30%;

    a {
      text-align: center;
      background-color: $blue;
      padding: .5em 1em;
      display: block;
      font-size: 1.5 * $spacer;
      font-weight: 900;
      color: white;
      margin: 0 auto;
      transition: 300ms ease-in;
    }

    a {
      text-decoration: none;
    }

    a span:hover,
    a span:focus-visible {
      opacity: .7;
    }
  }
}

svg.piglet {
  transform: scaleX(-1);
}

.section {
  &>div {
    margin-bottom: 2 * $spacer;
  }
}

.image-container {
  text-align: center;

  img+div {
    text-align: left;
    font-size: .625 * $spacer;
    color: $blue;
  }

  img {
    width: 100%;
    max-height: 22rem;
  }
}

.icon {
  $size: .375rem;

  margin-right: $size;

  svg {
    width: $size * 7;
    height: $size * 7;
  }

  .piglet {
    margin-bottom: -.125rem;
    width: $size * 5;
    height: $size * 5;
  }
}

.vocab-box {
  border: 1px solid black;
  padding: .5em;

  h3 {
    font-size: 2 * $spacer;
  }

  h3,
  h4 {
    margin-block: 0;
  }

  div {
    border: 1px solid black;
    padding: 1em;
  }
}

@media (min-width: 768px) {
  $spacer: 1rem;

  .section {
    display: flex;
    align-items: center;
    gap: 3 * $spacer;
  }

  .section:not(:has(.teaser)),
  header {
    justify-content: space-between;
    margin-bottom: 2 * $spacer;
  }

  .icon {
    $size: .5rem;
  }

  nav ul {
    --size: 1.5rem;
  }

  .piglet span {
    margin-right: .125 * $spacer;
    margin-bottom: -.125 * $spacer;

    svg {
      --size: 3rem;
    }
  }

  #discount {
    flex-direction: row-reverse;
  }
}