:root {
  --blue: rgb(1, 33, 105);
  --red: rgb(200, 16, 46);
  --spacer: .75rem;
}

a {
  color: var(--blue);
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: calc(var(--spacer) * 0.25) 1rem calc(var(--spacer) * 3);
  line-height: 1.5;
  max-width: 1200px;
  margin-inline: auto;
}

button,
a.button {
  color: var(--blue);
  border: 2px solid currentColor;
  border-radius: 0;
  background-color: transparent;
  padding: 0.25em 1.25em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 500ms;
}
button:focus-visible, button:hover,
a.button:focus-visible,
a.button:hover {
  border-style: dashed;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playwrite PE", cursive;
  font-weight: 200;
  margin: 0.125em 0 calc(var(--spacer) * 1.25);
}

p {
  max-width: 45ch;
  margin: 0.125em 0 1em;
}

.red {
  color: var(--red);
  font-weight: 900;
}

.logo {
  font-size: calc(5 * var(--spacer));
  font-weight: 900;
}

nav a,
a.button {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  list-style: none;
  margin: var(--spacer);
}
nav ul li {
  margin-bottom: calc(var(--spacer) * 0.25);
}
nav ul svg {
  width: calc(var(--spacer) * 1.5);
  height: calc(var(--spacer) * 1.5);
}

header {
  max-width: 80ch;
}
header p {
  max-width: 100%;
  font-size: calc(1.25 * var(--spacer));
}
header .piglet {
  display: flex;
  align-items: end;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: calc(var(--spacer) * 1.5);
  color: var(--blue);
}
header .piglet h2 {
  font-family: "Noto Sans", sans-serif;
  font-weight: 900;
  margin-block: 0;
}
header .piglet .and {
  flex-grow: 1;
  border-bottom: 2px dashed var(--blue);
}
header .piglet span {
  font-size: var(--spacer);
  font-family: "Playwrite PE", cursive;
  color: var(--blue);
  margin-bottom: -0.25em;
}
header .piglet svg {
  --size: 1.25rem;
  width: var(--size);
  height: var(--size);
  text-align: right;
  margin-bottom: -2px;
}

.section > div {
  margin-bottom: calc(2 * var(--spacer));
}

.section,
header {
  margin-bottom: calc(4 * var(--spacer));
}

.image-container {
  text-align: center;
}
.image-container img + div {
  text-align: left;
  font-size: calc(0.625 * var(--spacer));
  color: var(--blue);
}
.image-container img {
  width: 100%;
  max-height: 22rem;
}

.header-icon {
  margin-right: calc(var(--spacer) * 0.5);
}
.header-icon svg {
  width: calc(var(--spacer) * 2.5);
  height: calc(var(--spacer) * 2.5);
}
.header-icon .piglet {
  margin-bottom: -0.25rem;
  width: calc(var(--spacer) * 2.25);
  height: calc(var(--spacer) * 2.25);
}

svg.piglet {
  transform: scaleX(-1);
}

.vocab-box {
  padding: 0.5em;
}
.vocab-box,
.vocab-box div {
  border: 1px solid black;
}
.vocab-box h3 {
  font-size: calc(var(--spacer) * 1.625);
  margin-bottom: 0.125rem;
}
.vocab-box h4 {
  margin-bottom: 1em;
}
.vocab-box div {
  padding: 1em;
}

.vocab-box + div p:last-of-type {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  :root {
    --spacer: 1rem;
  }
  .section {
    display: flex;
    gap: 3em;
  }
  .section,
header {
    justify-content: space-between;
  }
  header .piglet {
    margin-top: 1.5rem;
  }
  #discount {
    flex-direction: row-reverse;
  }
}/*# sourceMappingURL=index.css.map */