// --- general styles

:root {
  --blue: rgb(1, 33, 105);
  --red: rgb(200, 16, 46);
  --spacer: .75rem;
}

a {
  color: var(--blue);
}

body {
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  padding: calc(var(--spacer) * .25) 1rem calc(var(--spacer) * 3);
  line-height: 1.5;
  max-width: 1200px;
  margin-inline: auto;
}

button,
a.button {
  color: var(--blue);
  border: 2px solid currentColor;
  border-radius: 0;
  background-color: transparent;
  padding: .25em 1.25em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 700;
  cursor: pointer;
  transition: 500ms;

  &:focus-visible,
  &:hover {
    border-style: dashed;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Playwrite PE", cursive;
  font-weight: 200;
  margin: .125em 0 calc(var(--spacer) * 1.25);
}

p {
  max-width: 45ch;
  margin: .125em 0 1em;
}

// --- custom styles

// .noto {
//   font-family: "Noto Sans", sans-serif;
//   font-optical-sizing: auto;
//   font-weight: 400;
//   font-style: normal;
//   font-variation-settings:
//     "wdth" 100;
// }

// .playwrite {
//   font-family: "Playwrite PE", cursive;
//   font-optical-sizing: auto;
//   font-weight: 300;
//   font-style: normal;
// }

.red {
  color: var(--red);
  font-weight: 900;
}

.logo {
  font-size: calc(5 * var(--spacer));
  font-weight: 900;
}

nav a,
a.button {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;

  ul {
    list-style: none;
    margin: var(--spacer);

    li {
      margin-bottom: calc(var(--spacer) * .375);
    }

    svg {
      width: calc(var(--spacer) * 1.5);
      height: calc(var(--spacer) * 1.5);
      transition: transform 300ms ease-in;
    }


    svg:hover,
    svg:focus-visible {
      transform: rotate(15deg);
    }
  }
}

header {
  max-width: 80ch;

  p {
    max-width: 100%;
    font-size: calc(1.25 * var(--spacer));
  }

  .piglet {
    display: flex;
    align-items: end;
    gap: .5rem;
    flex-wrap: wrap;
    margin-top: calc(var(--spacer) * 1.5);
    color: var(--blue);

    h2 {
      font-family: "Noto Sans", sans-serif;
      font-weight: 900;
      margin-block: 0;
    }

    .and {
      flex-grow: 1;
      border-bottom: 2px dashed var(--blue);
    }

    span {
      font-size: var(--spacer);
      font-family: "Playwrite PE", cursive;
      color: var(--blue);
      margin-bottom: -.25em;
    }

    svg {
      --size: 1.25rem;
      width: var(--size);
      height: var(--size);
      text-align: right;
      margin-bottom: -2px;
    }
  }
}

.source {
  text-align: left;
  font-size: calc(.5 * var(--spacer));
  color: var(--blue);
}

.column {
  display: flex;
  flex-direction: column;

  &>*:last-child {
    margin-top: auto;
  }
}

.section {
  &>div {
    margin-bottom: calc(2 * var(--spacer));
  }
}

.section,
header {
  margin-bottom: calc(6 * var(--spacer));
}

.image-container {
  text-align: center;

  img {
    width: 100%;
    max-height: 22rem;
  }
}

.header-icon {
  margin-right: calc(var(--spacer) * .5);

  svg {
    width: calc(var(--spacer) * 2.5);
    height: calc(var(--spacer) * 2.5);
  }

  .piglet {
    margin-bottom: -.25rem;
    width: calc(var(--spacer) * 2.25);
    height: calc(var(--spacer) * 2.25);
  }
}

svg.piglet {
  transform: scaleX(-1);
}

.vocab-box {
  padding: .5em;

  &,
  div {
    border: 1px solid black;
  }

  h3 {
    font-size: calc(var(--spacer) * 1.625);
    margin-bottom: .125rem;
  }

  h4 {
    margin-bottom: 1em;
  }

  div {
    padding: 1em;
  }
}

.vocab-box+div p:last-of-type {
  margin-bottom: 2rem;
}

// --- large screens

@media (min-width: 768px) {
  :root {
    --spacer: 1rem;
  }

  .section {
    display: flex;
    gap: 3em;
  }

  .section,
  header {
    justify-content: space-between;
  }

  header .piglet {
    margin-top: 1.5rem;
  }

  #discount {
    flex-direction: row-reverse;
  }
}